body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: #949398FF;
    font-family: cursive;
}

.form{
    background-color:#F4DF4EFF;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: 0 4px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: 4px solid blue;
    color: blue;
    border-radius: 5px;
}

.input::placeholder{
    font-family: cursive;
}

.btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px ;
    display: block;
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: green;
    text-align: right;
    font-size: 20px;
}